<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubashApplication">

        <activity
            android:name=".MainActivity_ece1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_ece1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_ece1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_ece1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_chy1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <!-- <activity -->

        <activity
            android:name=".Fat_ece1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_ece1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_ece1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <!-- <activity -->
        <activity
            android:name=".MainActivity_ece1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_chy1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_chy1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_chy1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_eng1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_eng1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_eng1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_eng1006"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_eng2004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_eng2004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_eng2004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_eng2004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />


        <activity
            android:name=".MainActivity_mat1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_mat1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_mat1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_mat1008"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_mat1009"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_mat1009"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_mat1009"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_mat1009"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_mat1014"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_mat1014"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_mat1014"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_mat1014"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_phy1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_phy1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_phy1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_phy1005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_swe1004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_swe1004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_swe1004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_swe1004"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".MainActivity_swe2005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Fat_swe2005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat2_swe2005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />
        <activity
            android:name=".Cat1_swe2005"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

<!--        <activity-->
<!--            android:name=".MainActivity_swe1002"-->
<!--            android:exported="false"-->
<!--            android:theme="@style/Theme.SubashApplication" />-->

        <activity
            android:name=".All_swe1002"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />

        <activity
            android:name=".All_mat1007"
            android:exported="false"
            android:theme="@style/Theme.SubashApplication" />


        <!-- <activity android:name=".FAT" /> -->
        <!-- <activity android:name=".CAT2" /> -->
        <!-- <activity android:name=".CAT1" /> -->


        <activity
            android:name=".Firstpage"
            android:exported="true">

            <!-- This part makes it the FIRST (launcher) activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>